<h2>HTML Forms</h2>

<form action="/home/text">
    <label for="fname"> text :</label><br>
    <input type="text" id="fname" name="Text" value="John"><br>

    <input type="submit" value="Submit">
</form> 

